html, body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  background: #6796C9;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.mobileContainer {
  width: 360px;
  height: 640px;
  background-color: #FFFFFF;
  position: relative;
}

/*colors*/
.bg-white {
  background-color: #FFFFFF;
}
.bg-dark-blue {
  background-color: #3066BC;
}
.bg-blue {
  background-color: #417EDE;
}
.bg-light-blue {
  background-color: #0397F8;
}
.bg-dark-gray {
  background-color: #272727;
}
.white {
  color: white;
}
.light-blue {
  color: #0397F8;
}

.list {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 1;
}
.list li {
  cursor: pointer;
  line-height: 1.5;
}
.list li:hover {
  text-decoration: underline;
}

.envelope {
  background-image: url(./images/envelope.svg), url(./images/envelope.svg);
  background-repeat: no-repeat;
  background-position: 0 80px, 100% 80px;
}

.statusBar {
  width: 100%;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
}

.appBar {
  width: 100%;
  height: 56px;
  background: #FFFFFF;
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: rgba(0,0,0,.05) 0px 4px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #272727;
}

.appBar-logo {
  display: flex;
  align-items: center;
  margin-left: 14px;
}

.appBar-logo h1 {
  font-size: 20px;
  margin-left: 8px;
}

.appContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 128px);
  position: relative;
  top: 80px;
}

.appContent.hasFiles {
  display: block;
  margin-top: 10px;
}

/*Font*/
.firaSans {font-family: 'Fira Sans', sans-serif;}
.semiBold {font-weight: 600;}
.regular {font-weight: 400;}

.appBar-icon {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #737373;
}

.fab {
  width: 56px;
  height: 56px;
  position: absolute;
  right: 24px;
  bottom: 66px;
  border-radius: 100%;
  box-shadow: rgba(0,0,0,.12) 0px 0px 6px, rgba(0,0,0,.24) 0px 6px 6px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.fabActions {
  position: absolute;
  right: 32px;
  z-index: 5;
}

.fabActions-label {
  position: absolute;
  padding: 8px 12px;
  background-color: #FFF;
  box-shadow: rgba(0,0,0,.12) 0px 0px 4px, rgba(0,0,0,.24) 0px 4px 4px;
  color: #737373;
  border-radius: 2px;
  right: 56px;
  white-space: nowrap;
}

.fabActions-button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  box-shadow: rgba(0,0,0,.12) 0px 0px 12px, rgba(0,0,0,.24) 0px 12px 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  background-color: #0397F8;
}

.overlay-gray {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  opacity: .9;
  position: absolute;
  z-index: 1;
}

.overlay-dark {
  width: 100%;
  height: 100%;
  background-color: rgba(33,33,33,.7);
  position: absolute;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog {
  width: 280px;
  background-color: #fff;
  box-shadow: rgba(0,0,0,.12) 0px 0px 24px, rgba(0,0,0,.24) 0px 24px 24px;
  z-index: 11;
  padding: 40px 8px 14px;
  position: absolute;
  border-radius: 4px;
}

.dialog p {
  font-size: 16px;
  line-height: 1.5;
  color: #757575;
  margin: 0px 16px 28px;
}
.strong {
  color: #000;
  font-weight: 700;
}
.dialog-button {
  padding: 10px 18px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 2px;
}
.dialog-button-section {
  display: flex;
  justify-content: flex-end;
}

.navigationBar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
}

#home {
  text-align: center;
  max-width: 244px;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
}

#home h2 {
  color: #272727;
  font-size: 16px;
  font-weight: 500;
  margin: 27px 0 37px 0;
}

#home p {
  color: #737373;
  font-size: 14px;
  line-height: 1.43;
  margin: 0 0 52px 0;
}

.fileCard {
  padding: 16px;
  background-color: #FFFFFF;
  box-shadow: rgba(0,0,0,.17) 0px 2px 4px 2px;
  border-radius: 4px;
  width: calc(100% - 60px);
  position: relative;
  margin: auto;
}

.fileCard-Section-1 {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 16px 0;
}

.fileCard-Section-1:nth-child(1) {
  padding: 0 0 16px;
}

.fileCard-Section-1 > div {
  display: flex;
  align-items: center;
  position: relative;
}

.fileCard-Section-1 i {
  color: #737373;
}

.fileImg {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #737373;
  margin: 0 16px 0 0;
}

.fileName p:nth-child(1) {
  font-size: 14px;
  color: #272727;
  margin: 0 0 8px 0;
}

.fileName p:nth-child(2) {
  font-size: 13px;
  color: #737373;
  margin: 0;
}

.fileStatus {
  font-size: 14px;
  color: #737373;
  padding-bottom: 10px;
  border-bottom: 1px #E7E7E7 solid;
}

.fileCard-Section-2 {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.fileCard-Section-2 i {
  color: #636363;
}

.fileAction {
  display: flex;
  align-items: center;
}

.fileAction i {
  color: #fff;
  background-color: #0397F8;
  margin-right: 8px;
  border-radius: 100%;
  font-size: 18px;
  padding: 1px;
}

.fileAction p {
  margin: 0;
  text-transform: uppercase;
  color: #0397F8;
  font-size: 14px;
  font-weight: 500;
}

.flex-end {
  justify-content: flex-end;
}